body {
    background: #04080F;
}

.learning-page {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    color: #edf6f9;
    margin-top: 15px;
    width: max;
    height: max;
    margin-left: 10px;
    margin-right: 10px;
}
  
.card--outlined {
    width: 1100px;
}
  
.text_title{
    font-size: 35pt;
    text-align: center;
}
  
.section-title {
    margin: 5px;
    font-size: 18pt;
}
  
.reading-text {
    font-size: 14pt;
}
  
.reading-bullet-list {
    margin-top: 10px;
    font-size: 14pt;
}
  
.reading-bullet {
    margin-bottom: 10px;
    margin-left: 20px;
}
  
.dashed-line {
    border: 1px solid #95c623;
    margin-top: 10px;
    margin-bottom: 20px;
}
  
.next-card {
    display: flexbox;
    background-color: #edf6f9;
    color: #04080F;
    padding: 5px;
    border-radius: 10px;
    height:180px;
}
.next-card-text {
    text-align: center;
    font-size: 20pt;
}

button {
    display: grid;
    margin:auto;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 0px;
    background-color: #fddd0d;
    font-size: 24pt;
    margin-bottom: 2px;
    padding: 5px;
}