.learning-page {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  color: #edf6f9;
  margin-top: 15px;
  width: max;
  height: max;
  margin-left: 10px;
  margin-right: 10px;
}

.card--outlined {
  width: 1100px;
}

.text_title{
  font-size: 24pt;
}

.section-title {
  margin: 5px;
  font-size: 18pt;
}

.reading-text {
  font-size: 14pt;
}

.reading-bullet-list {
  margin-top: 10px;
  font-size: 14pt;
}

.reading-bullet {
  margin-bottom: 10px;
  margin-left: 20px;
}

.dashed-line {
  border: 1px solid #95c623;
  margin-top: 10px;
  margin-bottom: 20px;
}

#quiz {
  background-color: #edf6f9;
  color: #04080f;
  font-family: sans-serif;
  font-size: 16pt;
  border-radius: 25px;
  padding: 20px;
}

.question {
  font-size: 18pt;
  margin-bottom: 10px;
}

.question-box {
  margin-top: 15px;
}

input {
  font-size: 18pt;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  background-color: #040404;
  color: #edf6f9;
}

.c-explan {
  background-color: #95c623;
  color: #edf6f9;
  font-family: sans-serif;
  font-size: 16pt;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.i-explan {
  background-color: #9f171c;
  color: #edf6f9;
  font-family: sans-serif;
  font-size: 16pt;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.explan-text {
  font-size: 14pt;
}
